
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Amazon Clone</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<div class="logo">
<a href="/">Amazon Clone</a>
</div>
<div class="search-bar">
<form action="/">
<input type="text" name="query" placeholder="Search for products">
<button type="submit">Search</button>
</form>
</div>
<div class="cart">
<a href="/cart">Cart</a>
</div>
<div class="account">
<a href="/account">Account</a>
</div>
</header>

<main>
<div class="carousel">
<ul>
<li><img src="images/carousel-1.jpg" alt=""></li>
<li><img src="images/carousel-2.jpg" alt=""></li>
<li><img src="images/carousel-3.jpg" alt=""></li>
</ul>
</div>

<div class="categories">
<ul>
<li><a href="/products/electronics">Electronics</a></li>
<li><a href="/products/fashion">Fashion</a></li>
<li><a href="/products/home">Home</a></li>
<li><a href="/products/books">Books</a></li>
<li><a href="/products/toys">Toys</a></li>
</ul>
</div>

<div class="products">
<ul>
<li>
<div class="product-image">
<img src="images/product-1.jpg" alt="">
</div>
<div class="product-info">
<div class="product-name">
iPhone 12
</div>
<div class="product-price">
$999.99
</div>
<div class="product-add-to-cart">
<a href="/add_to_cart?product_id=1">Add to Cart</a>
</div>
</div>
</li>
<li>
<div class="product-image">
<img src="images/product-2.jpg" alt="">
</div>
<div class="product-info">
<div class="product-name">
Samsung Galaxy S21
</div>
<div class="product-price">
$899.99
</div>
<div class="product-add-to-cart">
<a href="/add_to_cart?product_id=2">Add to Cart</a>
</div>
</div>
</li>
<li>
<div class="product-image">
<img src="images/product-3.jpg" alt="">
</div>
<div class="product-info">
<div class="product-name">
Sony PlayStation 5
</div>
<div class="product-price">
$499.99
</div>
<div class="product-add-to-cart">
<a href="/add_to_cart?product_id=3">Add to Cart</a>
</div>
</div>
</li>
</ul>
</div>
</main>

<footer>
<div class="copyright">
Copyright 2023 Amazon Clone
</div>
</footer>
</body>
</html>


